<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Getme</display-name>
    <servlet-name>Getme</servlet-name>
    <servlet-class>com.tcs.ilp.Getme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getme</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>com.tcs.ilp.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticateUser</display-name>
    <servlet-name>AuthenticateUser</servlet-name>
    <servlet-class>com.tcs.ilp.AuthenticateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateUser</servlet-name>
    <url-pattern>/AuthenticateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySearcher</display-name>
    <servlet-name>MySearcher</servlet-name>
    <servlet-class>com.tcs.ilp.MySearcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySearcher</servlet-name>
    <url-pattern>/MySearcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>com.tcs.ilp.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet1</display-name>
    <servlet-name>DemoServlet1</servlet-name>
    <servlet-class>com.tcs.ilp.DemoServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet1</servlet-name>
    <url-pattern>/DemoServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet2</display-name>
    <servlet-name>DemoServlet2</servlet-name>
    <servlet-class>com.tcs.ilp.DemoServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet2</servlet-name>
    <url-pattern>/DemoServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComboServlet</display-name>
    <servlet-name>GetComboServlet</servlet-name>
    <servlet-class>com.tcs.ilp.GetComboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComboServlet</servlet-name>
    <url-pattern>/comboData</url-pattern>
  </servlet-mapping>
</web-app>